<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Monitor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
    <div class="container mx-auto mt-4">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl font-bold">Sensor Data Overview</h1>
            <a href="{{ url_for('settings') }}" class="text-blue-600">Edit Global Settings</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            {% for sensor_id, data in sensor_data.items() %}
            <div class="sensor-chart p-2">
                <h2 class="text-xl font-semibold"> <a href="/sensor_data/{{ sensor_id }}" class="text-blue-600">  Sensor {{ sensor_id }} </a></h2>
                <canvas id="sensorChart_{{ sensor_id }}" width="400" height="200"></canvas>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% for sensor_id, data in sensor_data.items() %}
                const ctx_{{ sensor_id }} = document.getElementById('sensorChart_{{ sensor_id }}').getContext('2d');
                const data_{{ sensor_id }} = {{ data|tojson }};
                const labels_{{ sensor_id }} = data_{{ sensor_id }}.map(entry => new Date(entry.timestamp).getTime());
                const temperatures_{{ sensor_id }} = data_{{ sensor_id }}.map(entry => entry.temperature);
                const humidities_{{ sensor_id }} = data_{{ sensor_id }}.map(entry => entry.humidity);
                const lights_{{ sensor_id }} = data_{{ sensor_id }}.map(entry => entry.light);

                new Chart(ctx_{{ sensor_id }}, {
                    type: 'line',
                    data: {
                        labels: labels_{{ sensor_id }},
                        datasets: [
                            {
                                label: 'Temperature',
                                data: temperatures_{{ sensor_id }},
                                borderColor: 'rgba(255, 99, 132, 1)',
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                fill: false,
                            },
                            {
                                label: 'Humidity',
                                data: humidities_{{ sensor_id }},
                                borderColor: 'rgba(54, 162, 235, 1)',
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                fill: false,
                            },
                            {
                                label: 'Light',
                                data: lights_{{ sensor_id }},
                                borderColor: 'rgba(255, 206, 86, 1)',
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                fill: false,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day'
                                },
                                title: {
                                    display: true,
                                    text: 'Timestamp'
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Value'
                                }
                            }
                        }
                    }
                });
            {% endfor %}
        });
    </script>
</body>
</html>